@model Common.Models.Direccion

@{
    ViewData["Title"] = "Editar";
}

<h4>Editar Direccion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <partial name="_Direccion" />
        </form>
    </div>
</div>